<div class="modal-header">
  <h5 class="modal-title">{{ title }}</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<form method="post" enctype="multipart/form-data" hx-post="." hx-target="#modal-content" hx-swap="outerHTML">
  <div class="modal-body">
    {% csrf_token %}
    {% if form.non_field_errors %}
      <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}

    {% for field in form %}
      <div class="mb-3">
        <label class="form-label fw-semibold">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
          <div class="form-text">{{ field.help_text }}</div>
        {% endif %}
        {% for error in field.errors %}
          <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
      <i class="fas fa-xmark"></i>  Cancel
    </button>
    <button type="submit" class="btn btn-primary">
      <i class="bi bi-floppy"></i> Save
    </button>
  </div>
</form>
