 .btn-sweep {
  outline: none;
  position: relative;
  overflow: hidden;
}
.btn-sweep:after, .btn-sweep:before {
  background-color: rgba(233, 236, 239, 0.8);
  position: absolute;
  display: block;
  content: ' ';
  top: 0;
  -moz-transform: skew(-45deg);
  -o-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
  transform-origin: center center;
}
.btn-sweep:after {
  width: 30%;
  height: 100%;
  animation: sweep-fx-after 10s infinite ease-in;
}
.btn-sweep:before {
  width: 10%;
  height: 100%;
  animation: sweep-fx-before 10s infinite ease-in-out;
}
@keyframes sweep-fx-after {
  0% {
    left: -100%;
    visibility: visible;
  }
  10% {
    left: 100%;
  }
  11% {
    left: 100%;
    visibility: hidden;
  }
  100% {
    left: -100%;
    visibility: hidden;
  }
}
@keyframes sweep-fx-before {
  0% {
    left: -80%;
    visibility: visible;
  }
  10% {
    left: 110%;
  }
  11% {
    left: 110%;
    visibility: hidden;
  }
  100% {
    left: -80%;
    visibility: hidden;
  }
}
